@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::after, *::before {
  margin: 0;
  padding: 0;
  outline: none !important;
  outline: 0 !important;
}

html,
body {
  overflow-x: hidden;
}

@layer components {
  .overlay {
    @apply font-grotesk top-0 left-0 absolute w-full h-full;
  }

  .after-overlay {
    @apply font-grotesk after:top-0 after:left-0 after:absolute after:w-full after:h-full;
  }

  .before-overlay {
    @apply font-grotesk before:top-0 before:left-0 before:absolute before:w-full before:h-full;
  }

  .bg-orange-grad {
    @apply font-grotesk bg-gradient-to-br from-orange-600 to-orange-400;
  }

  .bg-primary-grad {
    @apply font-grotesk bg-gradient-to-br from-primary to-blue-700;
  }

  .bg-purple-grad {
    @apply font-grotesk bg-gradient-to-br from-indigo-600 to-indigo-400;
  }

  .bg-red-grad {
    @apply font-grotesk bg-gradient-to-br from-danger to-rose-600;
  }

  .bg-green-grad {
    @apply bg-gradient-to-br from-teal-500 to-teal-400;
  }

  .bg-dark-grad {
    @apply bg-gradient-to-br from-slate-700 to-slate-600;
  }

  .heading-one {
    @apply font-grotesk font-bold text-3xl md:text-4xl;
  }

  .heading-two {
    @apply font-grotesk font-bold text-2xl md:text-3xl;
  }

  .heading-three {
    @apply font-grotesk font-semibold text-xl md:text-2xl;
  }

  .heading-four {
    @apply font-grotesk font-semibold text-lg md:text-xl;
  }

  .heading-five {
    @apply font-grotesk font-semibold text-base md:text-lg;
  }

  .text-default {
    @apply font-grotesk font-medium text-sm md:text-lg;
  }

  .text-small {
    @apply font-grotesk font-normal text-xs md:text-sm;
  }

  .text-xsmall {
    @apply font-grotesk font-normal text-[.65rem] md:text-xs;
  }

  .text-xxsmall {
    @apply font-grotesk font-normal text-[.5rem] md:text-[.65rem];
  }

  .card {
    @apply font-grotesk bg-white p-2 md:p-4 rounded-md text-text shadow-lg shadow-background;
  }

  .button {
    @apply font-grotesk py-1 px-4 md:px-6 rounded-sm text-white text-xs md:text-sm font-medium cursor-pointer whitespace-nowrap;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    border: 3px solid #f7f4ed;
    background: #e0cbcb;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

  .x-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }

  .x-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .x-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    border: 3px solid transparent;
    background: transparent;
  }

  .x-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #2f77eb;
  }

  td,
  th {
    padding: 0.5rem .25rem;
  }

  /* tbody tr:not(:last-child){
    border-bottom: 1px solid #e9edf3;
  } */
}

@media screen and (max-width: 640px) {
  .container {
    min-width: 100% !important;
  }
}